<div class="panel-body microService">
    <div class="panel panel-default col-sm-12 homeContainerColumn">
        <div class="panel-heading">Account[Service-AccountStub]</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>Column 1</td>
                    <td>Column 2</td>
                </tr>
                <tr>
                    <td>Column 1</td>
                    <td>Column 2</td>
                </tr>
                <tr>
                    <td>Column 1</td>
                    <td>Column 2</td>
                </tr>
                <tr>
                    <td>Column 1</td>
                    <td>Column 2</td>
                </tr>
            </table>
            <div class="row">
                <div class="col-md-6">
                    <button>Edit</button>
                </div>
                <div class="col-md-6">
                    <button>remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
