<div class="panel panel-default col-sm-8 homeContainerColumn ">


    <div class="panel-heading">Response Query panel</div>
    <div class="panel-body">
        <div class="row responseRow">
            <div class="col-md-6">col1</div>
            <input>
        </div>
        <div class="row responseRow">
            <div class="col-md-6">col1</div>
            <input>
        </div>
        <div class="row responseRow">
            <div class="col-md-6">col1</div>
            <input>
        </div>
    </div>
</div>
