<div class="container homeContainer">
    <div class="row homeContainerRow">
        <div class="panel panel-default col-sm-12 homeMainContainerColumn ">
            <div class="panel-heading">New Endpoint Onboarding</div>
            <div class="panel-body">
                <div class="panel panel-default col-sm-4 homeContainerColumn">
                    <div class="panel-heading">
                        <button name="add">Add New Data Source</button>
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-default col-sm-12 homeContainerColumn">
                            <div class="panel-heading">Account[Service-AccountStub]</div>
                            <div class="panel-body">
                                <button>Edit</button>
                                <button>remove</button>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="panel panel-default col-sm-8 homeContainerColumn">
                    <responseQuery></responseQuery>
                </div>
            </div>
        </div>
    </div>
</div>
