<div class="container homeContainer">
    <div class="row homeContainerRow">
        <div class="panel panel-default col-sm-12 homeMainContainerColumn ">
            <div class="panel-heading">New Endpoint Onboarding</div>
            <div class="panel-body">
                <!-- service list here-->
                <micro-service-list></micro-service-list>
                <data-source></data-source>
                <!--<responseQuery></responseQuery>-->

            </div>

        </div>
    </div>
</div>
